body {
	background: #fff;
	font-family: 'Courier New', helvetica, san-serif, georgia;
	font-size: 10px;
}
#display {
	background: #fff;
	font-family: 'Courier New', helvetica, san-serif, georgia;
	line-height: 1.3em;
	font-size: 10px;
}
ul {
	margin: 0px;
	padding: 0px;
}
li {
	margin: 0px;
	padding: 5px 0px;
	list-style: none;
}
h1, h2 {
	font-family: "franklin gothic demi", helvetica, san-serif, georgia;
	font-size: 16px;
	font-weight: normal;
	margin: 0px;
	padding: 3px 0px 8px 0px;
}

.hits {
	color: #000;
}

.note {
	font-size: 12px;
	font-style: italic;
	color: #373;
	line-height: 1.2em;
}
