
body {
	/* image from www.k10k.net */
	background: url("../images/1529.GIF") #fff;
	font-family: "franklin gothic book", helvetica, san-serif, georgia;
	line-height: 1.3em;
	font-size: 18px;
}

ul {
	margin: 0px;
	padding: 0px;
}
li {
	margin: 0px;
	padding: 5px 0px;
	list-style: none;
}
h1 {
	font-size: 28px;
	font-weight: normal;
	margin: 0px;
	display: inline;
	margin: 20px 0px 0px 0px;

}
h2 {
	font-size: 20px;
	font-weight: normal;
	margin: 0px;
	padding: 10px 0px 2px 0px;
	border-bottom: 1px solid #373

}

h3 {
	font-size: 14px;
	font-weight: normal;
	margin: 0px;
	padding: 0px;

}

pre {
	font-size: 8px;	
}

textarea {
	width: 90%;
	height: 100px;
}

a {font-size: 18px;};
a:link {color: #06c; text-decoration: none; border-bottom: 1px dashed #06c;}
a:visited {color: #06c; text-decoration: none; border-bottom: 1px dashed #06c;}
a:hover {text-decoration: none; background-color: #d8f0ff;}
a:active {color: #06c; text-decoration: none; border-bottom: 1px dashed #06c;}

#contain {
	position: absolute;
	left: 0%;
	top: 0%;
	margin: 8% 0px 0px 0px;
	padding: 10px 10px 0px 10px;
	width: 95%;
	background-color: #fff;
	border-width: 4px 0px 0px 0px;
	border-color: #373;
	border-style: solid;
}
#hid {
	/* display: none; */
	font-size: 13px;
}
#note {
	font-size: 14px;
	font-style: italic;
	color: #373;
	line-height: 1.2em;
}
.vrs {
	display: inline;
	font-size: 10px;
	font-style: italic;
	color: #737;
	padding: 0px 0px 0px 10px;

}


